.center_title {
    text-align: center;
    font-family: "Bungee", sans-serif;
    color: rgb(49, 177, 135);
}

body {
    background-color: rgba(96, 52, 47, 0.281);
}

.center_text {
    text-align: center;
    font-family: "SN Pro", sans-serif;
  }

.side_text {
    text-align: left;
    color: darkgreen;
}

.logo {
    width: 1px;
    height: 1px;
    align-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

ul li {
    float: left;

  }

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #111111;
  }

  ul li a.active {
    background-color: #04AA6D;
  }

  .bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .sn-pro {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

