.center_title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 177, 135);
}

body {
    background-color: rgba(96, 52, 47, 0.281);
}

.center_text {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.side_text {
    text-align: left;
    color: darkgreen;
}

.logo {
    width: 1px;
    height: 1px;
    align-content: center;
}